<p-table [value]="vehicles">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Year</th>
      <th>Type</th>
      <th>Fuel Type</th>
      <th>License Plate</th>
      <th>Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-vehicle>
    <tr>
      <td>{{ vehicle.name | vehicleName }}</td>
      <td>{{ vehicle.manufacturer }}</td>
      <td>{{ vehicle.model }}</td>
      <td>{{ vehicle.year }}</td>
      <td>{{ vehicle.type }}</td>
      <td>{{ vehicle.fuelType }}</td>
      <td>{{ vehicle.licensePlate }}</td>
      <td>
        <i
          *ngIf="vehicle.active"
          class="pi pi-check active-icon"
          title="Active"
        ></i>
        <i
          *ngIf="!vehicle.active"
          class="pi pi-times inactive-icon"
          title="Inactive"
        ></i>
      </td>
    </tr>
  </ng-template>
</p-table>
